@import url('https://fonts.googleapis.com/css?family=Lato:400,900');
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

* {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Lato", sans-serif;
}

body {
  margin: 0;
}
